{% extends 'layouts/base.html' %}

{% block body %}
<!-- Jumbotron -->


<div class="container">
    <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl ">


    <span class=" "></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ms-lg-5 ">
                <h4 class=" user-select-none">Chào mừng bạn đến với</h4>
                <h1 class=" user-select-none">Trường THPT Vạn Tường</h1>
                <p class="lead  opacity-8 user-select-none">
                    Là một ngôi trường nằm ở vùng kinh tế khó khăn nhưng với lòng yêu nghề của thầy cô giáo và tinh
                    thần vượt khó vươn lên trong học tập của học sinh, chất lượng giáo dục của nhà trường từng bước
                    được cải thiện đảm bảo chất lượng đào tạo và cả về cơ sở vất chất.
                    <br>
                    Trường THPT Vạn Tường khi mới thành lập
                    đã có guy cơ giải tán trường là khó tránh khỏi. Trước tình hình đó, UBND huyện Bình Sơn và Sở Giáo
                    dục
                    – Đào tạo Quảng Ngãi quyết định sáp nhập trường THCS xã Bình Phú vào trường THPT Vạn Tường.
                    Từ đó số học sinh của trường tăng dần trở lại, và mỗi năm càng tăng thêm.
                    Đến năm học 2011-2012, trường có 47 lớp gồm 7 lớp bậc THCS và 40 lớp bậc THPT.
                </p>
                <a href="{{ url_for('about_us') }}" class=" icon-move-right" target="_blank">
                    Giới thiệu về chúng tôi
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl "
     style="background-image: url('https://res.cloudinary.com/dif0oia5b/image/upload/v1670564907/samples/315455157_199521269109811_1392582240812945176_n_screup.jpg');
            height: 100vh"
     loading="lazy">
    <span class="mask bg-gradient-dark"></span>

</div>


</div>


<!-- Jumbotron -->
{% endblock %}