{% extends 'layouts/base.html' %}
{% block body %}
{% block css %}
<style>
  .form-outline .form-control{
    border:1px solid #C5C5C5  !important
}

</style>
{% endblock %}
{% if err_msg %}
<div class="alert alert-danger mt-4">
    {{ err_msg }}
</div>
{% endif %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100 mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img class="rounded-circle"
                                         src="https://as2.ftcdn.net/v2/jpg/03/93/19/51/1000_F_393195121_lglC9prJOHdu9GWbt4pcQg1Q0ehsXQp9.jpg"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Đăng Nhập</h4>
                                </div>

                                <form method="post" action=" {{ url_for('user_signin') }}">
                                    <p>Hãy sử dụng tài khoản nhà trường cung cấp</p>

                                    <div class="form-outline mb-4">
                                        <input type="text" name="username" id="username" class="form-control"
                                        />
                                        <label class="form-label" for="username">Username</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="password" class="form-control"/>
                                        <label class="form-label" for="password">Password</label>
                                    </div>
                                      <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="flexSwitchCheckDefault" onclick="showPassword()"/>
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Hiện mật khẩu</label>
                                    </div>
                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block btn-secondary  mb-3"
                                                type="submit">Đăng nhập
                                        </button>

                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a company</h4>
                                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
  function showPassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
{% endblock  %}